[Desktop Entry]
Version=1.0
Type=Link
Name=cenario-passo11-cidade-perdida.png
Comment=
Icon=user-bookmarks
URL=https://github.com/femascheti/criando-sua-aventura/blob/aula-07/img/cenario-passo11-cidade-perdida.png
